Repository JuliaRobotics/DistributedFactorGraphs.jl, pull requests merged in 2022-08, with the labels that each got.

#887 Fix Neo4jDFG tests
  .github/workflows/ci.yml
Labels: CI, bug fix

#889 Update CI to test julia v1.8
  .github/workflows/ci.yml
Labels: CI, julia version

#891 Graph Traversals
  src/GraphsDFG/services/GraphsDFG.jl
  test/runtests.jl
Labels: enhancement, GraphsDFG, needs documentation, needs testing

#893 deseriaize variable on dicts or vectors
  Project.toml
  src/DistributedFactorGraphs.jl
  src/Neo4jDFG/Neo4jDFG.jl
  src/Neo4jDFG/services/Neo4jDFG.jl
  src/entities/DFGVariable.jl
  src/services/DFGVariable.jl
  src/services/Serialization.jl
  test/test_defVariable.jl
Labels: enhancement, compat, serialization, standardization

#896 bad get type call now obsolete
  src/Deprecated.jl
  src/services/Serialization.jl
Labels: serialization, bug fix, deprecation

#895 v0.18.5-rc1
  .github/workflows/CompatHelper.yml
  .github/workflows/ci.yml
  .gitignore
  .travis.yml
  LICENSE
  Project.toml
  src/Deprecated.jl
  src/DistributedFactorGraphs.jl
  src/GraphsDFG/FactorGraphs/FactorGraphs.jl
  src/GraphsDFG/services/GraphsDFG.jl
  src/LightDFG/entities/LightDFG.jl
  src/Neo4jDFG/LICENSE
  src/Neo4jDFG/Neo4jDFG.jl
  src/Neo4jDFG/services/Neo4jDFG.jl
  src/entities/DFGVariable.jl
  src/services/DFGVariable.jl
  src/services/Serialization.jl
  test/runtests.jl
  test/test_defVariable.jl
Labels: release
