Repository JuliaRobotics/DistributedFactorGraphs.jl, pull requests merged in 2023-02, with the labels that each got.

#949 Fix constructor CI bug, JL1.9, drop Unmarshal, and more
  Project.toml
  src/DataBlobs/entities/AbstractDataEntries.jl
  src/Deprecated.jl
  src/DistributedFactorGraphs.jl
  src/GraphsDFG/entities/GraphsDFG.jl
  src/entities/DFGVariable.jl
  src/services/Serialization.jl
Labels: enhancement, documentation, compat, FileDFG, serialization, refactor, bug fix, standardization, data: entry=>blob, deprecation, dependencies

#950 getDFGVersion does VersionNumber and NEWS
  NEWS.md
  src/DataBlobs/entities/AbstractDataEntries.jl
  src/DataBlobs/services/BlobStores.jl
  src/Deprecated.jl
  src/entities/DFGVariable.jl
  src/services/Serialization.jl
Labels: enhancement, standardization

#951 release v0.19.3-rc1
  NEWS.md
  Project.toml
  src/DFGPlots/DFGPlots.jl
  src/DataBlobs/DataBlobs.jl
  src/DataBlobs/entities/AbstractDataEntries.jl
  src/DataBlobs/services/AbstractDataEntries.jl
  src/DataBlobs/services/BlobStores.jl
  src/Deprecated.jl
  src/DistributedFactorGraphs.jl
  src/GraphsDFG/GraphsDFG.jl
  src/GraphsDFG/entities/GraphsDFG.jl
  src/GraphsDFG/services/GraphsDFG.jl
  src/entities/AbstractDFGSummary.jl
  src/entities/DFGVariable.jl
  src/services/AbstractDFG.jl
  src/services/CustomPrinting.jl
  src/services/Serialization.jl
  test/iifInterfaceTests.jl
  test/interfaceTests.jl
  test/runtests.jl
  test/testBlocks.jl
Labels: release

#960 switching to Blob and BlobEntry
  src/DataBlobs/services/AbstractDataEntries.jl
  src/DataBlobs/services/DataEntryBlob.jl
  src/services/AbstractDFG.jl
Labels: enhancement, breaking change, standardization, data: entry=>blob, deprecation

#961 Fix VariableNodeData constructor
  src/entities/DFGVariable.jl
Labels: bug fix

#957 Towards standard BlobEntry
  Project.toml
  src/DataBlobs/entities/AbstractDataEntries.jl
Labels: types, bug fix, standardization, designdecision, vote, data: entry=>blob, possible breaking change

#962 Working through serialization and blobs for DFG 0.20
  Project.toml
  attic/DataBlobs/FileDataEntryBlob.jl
  attic/SerializationOld.jl
  attic/tests/testTranscodeTypeUnmarshaling.jl
  src/DataBlobs/DataBlobs.jl
  src/DataBlobs/entities/AbstractBlobEntries.jl
  src/DataBlobs/entities/AbstractDataEntries.jl
  src/DataBlobs/entities/BlobStores.jl
  src/DataBlobs/services/AbstractBlobEntries.jl
  src/DataBlobs/services/BlobEntry.jl
  src/DataBlobs/services/BlobStores.jl
  src/DataBlobs/services/InMemoryDataEntryBlob.jl
  src/DataBlobs/services/InMemoryStore.jl
  src/Deprecated.jl
  src/DistributedFactorGraphs.jl
  src/FileDFG/services/FileDFG.jl
  src/entities/AbstractDFG.jl
  src/entities/DFGFactor.jl
  src/entities/DFGVariable.jl
  src/services/AbstractDFG.jl
  src/services/Serialization.jl
  test/GraphsDFGSummaryTypes.jl
  test/consol_DataEntryBlobTests.jl
  test/interfaceTests.jl
  test/runtests.jl
  test/testBlocks.jl
Labels: serialization, refactor, breaking change, standardization, data: entry=>blob

#963 show on var entries,
  src/services/CustomPrinting.jl
Labels: enhancement, feature request

#965 drop AbstractBlobEntry
  src/DataBlobs/entities/AbstractBlobEntries.jl
  src/DataBlobs/services/AbstractBlobEntries.jl
  src/DataBlobs/services/BlobEntry.jl
  src/DataBlobs/services/BlobStores.jl
  src/Deprecated.jl
  src/entities/AbstractDFG.jl
  src/entities/DFGVariable.jl
  src/services/Serialization.jl
  test/interfaceTests.jl
Labels: testing, types, refactor, standardization, data: entry=>blob
